In [71]:
import os
import pandas as pd
import numpy as np
import glob

In [78]:
# Pull each txt file in stocks folder into a list of files
path = 'C:/Users/Tony/Desktop/BootcampFiles/GitHub/tickermagic/data/stocks/'
filepaths = glob.glob('C:/Users/Tony/Desktop/BootcampFiles/GitHub/tickermagic/data/stocks/*.txt')
filepaths[0]

'C:/Users/Tony/Desktop/BootcampFiles/GitHub/tickermagic/data/stocks\\a.us.txt'

In [73]:
# for each file, read into a pandas dataframe in a list of dataframes
tickerlist = [pd.read_csv(filepath) for filepath in filepaths]
tickerlist[0].head(5)

         Date    Open    High     Low   Close    Volume  OpenInt
0  1999-11-18  30.713  33.754  27.002  29.702  66277506        0
1  1999-11-19  28.986  29.027  26.872  27.257  16142920        0
2  1999-11-22  27.886  29.702  27.044  29.702   6970266        0
3  1999-11-23  28.688  29.446  27.002  27.002   6332082        0
4  1999-11-24  27.083  28.309  27.002  27.717   5132147        0

In [74]:
tickernamelist = [os.path.relpath(filepath, path) for filepath in filepaths]
tickernamelist

['a.us.txt',
 'aapl.us.txt',
 'amzn.us.txt',
 'bac.us.txt',
 'f.us.txt',
 'jp.us.txt',
 'nflx.us.txt',
 'pcg.us.txt',
 'tsla.us.txt',
 'yy.us.txt']

In [75]:
tickernamelist = [ticker.replace('.us.txt','') for ticker in tickernamelist]
tickernamelist

['a', 'aapl', 'amzn', 'bac', 'f', 'jp', 'nflx', 'pcg', 'tsla', 'yy']

In [76]:
for ticker, tickername in zip(tickerlist, tickernamelist):
    ticker['ticker'] = tickername

In [77]:
tickerlist[-1].head(5)

         Date   Open   High    Low  Close   Volume  OpenInt ticker
0  2012-11-21  10.50  11.75  10.50  11.31  4567029        0     yy
1  2012-11-23  11.57  11.76  11.20  11.32   236917        0     yy
2  2012-11-26  11.50  11.50  10.81  11.30   257287        0     yy
3  2012-11-27  11.40  12.99  11.17  12.20   460347        0     yy
4  2012-11-28  12.29  13.15  12.18  13.00   740654        0     yy

In [79]:
alltickers_df = pd.concat(tickerlist, ignore_index=True)
alltickers_df.head(5)

         Date    Open    High     Low   Close    Volume  OpenInt ticker
0  1999-11-18  30.713  33.754  27.002  29.702  66277506        0      a
1  1999-11-19  28.986  29.027  26.872  27.257  16142920        0      a
2  1999-11-22  27.886  29.702  27.044  29.702   6970266        0      a
3  1999-11-23  28.688  29.446  27.002  27.002   6332082        0      a
4  1999-11-24  27.083  28.309  27.002  27.717   5132147        0      a

In [80]:
alltickers_df.tail(5)

             Date   Open   High    Low  Close   Volume  OpenInt ticker
52687  2017-11-06  90.90  93.75  90.51  92.35   984511        0     yy
52688  2017-11-07  92.97  94.27  91.06  91.36   636653        0     yy
52689  2017-11-08  91.10  91.76  87.73  89.40  1116162        0     yy
52690  2017-11-09  88.72  91.09  88.39  90.65   821527        0     yy
52691  2017-11-10  89.77  90.40  88.08  88.92   550619        0     yy